*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.parent{
    padding: 100px;
    box-sizing: border-box;
    background-color: rgba(89, 131, 131, 0.466);
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-color: blue;
    margin: 100px;
    


}
.child{
    box-sizing: border-box;
    width: 220px;
    padding: 10px;
    background-color: rgba(164, 66, 221, 0.77);
    border-radius: 10%;
    box-shadow:1px 1px 20px rgb(29, 12, 39);

    
}
img{
    width:80px;
    display:block;
    margin:auto;
    padding: 15px;
}
h3{
    background-color:rgb(242, 229, 112);
    border-radius: 30%;
    width:65px;
    text-align:center;
    margin: auto;
    margin-bottom: 10px;

}
h2{
    text-align: center;
    margin-bottom: 10px;
}
p{
    text-align: center;
}